{% extends "base.html" %}
{% load i18n %}

{% block title %}recipelab Privacy Policy{% endblock %}

{% block content %}
<div class="container">

    <div class="row"><div class="col-md-12">

        <h3>Privacy Policy</h3>
        <br/>

        <h4>Website Visitors</h4>

        <p>Like most website operators, <strong>recipelab.org</strong> collects non-personally-identifying information of the sort that
            web browsers and servers typically make available, such as the browser type, language preference, referring
            site, and the date and time of each visitor request. <strong>recipelab.org</strong>’s purpose in collecting non-personally
            identifying information is to better understand how <strong>recipelab.org</strong>’s visitors use its website. From time to
            time, <strong>recipelab.org</strong> may release non-personally-identifying information in the aggregate, e.g., by publishing
            a report on trends in the usage of its website.
        </p>

        <p><strong>recipelab.org</strong> also collects potentially personally-identifying information like Internet Protocol (IP)
            addresses. <strong>recipelab.org</strong> does not use such information to identify its visitors, however, and does not
            disclose such information, other than under the same circumstances that it uses and discloses
            personally-identifying information, as described below.
        </p>

        <h4>Gathering of Personally-Identifying Information</h4>

        <p>Certain visitors to <strong>recipelab.org</strong>’s website choose to interact with <strong>recipelab.org</strong>
            in ways that require <strong>recipelab.org</strong> to gather personally-identifying information. The amount and type of
            information that <strong>recipelab.org</strong> gathers depends on the nature of the interaction. For example, we ask
            visitors who use our service to provide a username and email address. In each case, <strong>recipelab.org</strong> collects
            such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s
            interaction with <strong>recipelab.org</strong>. <strong>recipelab.org</strong> does not disclose personally-identifying information other
            than as described below. And visitors can always refuse to supply personally-identifying information, with
            the caveat that it may prevent them from engaging in certain website-related activities.
        </p>

        <h4>Protection of Certain Personally-Identifying Information</h4>

        <p><strong>recipelab.org</strong> discloses potentially personally-identifying and personally-identifying information only to
            those of its employees, contractors, and affiliated organizations that (i) need to know that information
            in order to process it on <strong>recipelab.org</strong>’s behalf or to provide services available at <strong>recipelab.org</strong>’s
            website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors
            and affiliated organizations may be located outside of your home country; by using <strong>recipelab.org</strong>’s
            website, you consent to the transfer of such information to them. <strong>recipelab.org</strong> will not rent or sell
            potentially personally-identifying and personally-identifying information to anyone. Other than to its
            employees, contractors, and affiliated organizations, as described above, <strong>recipelab.org</strong> discloses
            potentially personally-identifying and personally-identifying information only when required to do so
            by law, or when <strong>recipelab.org</strong> believes in good faith that disclosure is reasonably necessary to protect
            the property or rights of <strong>recipelab.org</strong>, third parties, or the public at large. If you are a registered
            user of <strong>recipelab.org</strong> and have supplied your email address, <strong>recipelab.org</strong> may occasionally
            send you an email to tell you about new features, solicit your feedback, or just keep you up to date
            with what’s going on with <strong>recipelab.org</strong> and our products. If you send us a request
            (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish
            it in order to help us clarify or respond to your request or to help us support other users. <strong>recipelab.org</strong>
            takes all measures reasonably necessary to protect against the unauthorized access, use, alteration, or
            destruction of potentially personally-identifying and personally-identifying information.
        </p>

        <h4>Cookies</h4>
        <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s
            browser provides to the website each time the visitor returns. <strong>recipelab.org</strong> uses cookies to help
            <strong>recipelab.org</strong> identify and track visitors, their usage of <strong>recipelab.org</strong> website, and their website access
            preferences. <strong>recipelab.org</strong> visitors who do not wish to have cookies placed on their computers should set
            their browsers to refuse cookies before using <strong>recipelab.org</strong>’s website, with the drawback that certain
            features of <strong>recipelab.org</strong>’s website may not function properly without the aid of cookies.

        <h4>Privacy Policy Changes</h4>

        <p>Although most changes are likely to be minor, <strong>recipelab.org</strong> may change its Privacy Policy from time to time,
            and in <strong>recipelab.org</strong>’s sole discretion. <strong>recipelab.org</strong> encourages visitors to frequently check this page for
            any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy
            will constitute your acceptance of such change.
        </p>

        <br/>

        <!--
        <p><em><a href="http://creativecommons.org/licenses/by-sa/2.5/"><img src="http://creativecommons.org/images/public/somerights20.png"" /></a> This document is licensed from <a href="https://wordpress.org/"">WordPress</a>, with modifications.</em></p>
        -->

        <div id="footer_spacer"></div>
    </div></div>
</div>

{% endblock %}
