{% extends "base.html" %}

{% block title %}recipelab activation failed{% endblock %}

{% block content %}
<div class="container" id="registration_page">
    <div class="row">
        <div class="col-md-6 activation-failed">

            <h3>Activation failed, sorry...</h3>
            <p>
                The link you clicked on to activate your account is not valid.  Perhaps your account is already active,
                please try logging in directly.
            </p>
            <p>
                If you still can't access your account, please send us an email and we will fix the problem:<br/>
                <a href= "mailto:support@recipelab.org">support@recipelab.org</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}