{% extends "base.html" %}

{% block title %}recipelab activation successful{% endblock %}

{% block content %}
<div class="container" id="registration_page">
    <div class="row">
        <div class="col-md-6 activation-failed">

            <h3>Welcome to <strong>recipelab</strong>!</h3>
            <p>
                Your account has been activated successfully.
            </p>
            <p>
                Please have a look at the User Guide, click on New Recipe to start experimenting, and visit My Recipes to
                view the ones you save.
            </p>

        </div>
    </div>
</div>
{% endblock %}